$clr-red: #E13B39;

.form__field--middle {
    width: 100%;
    text-align: center;
}

.error--wide80 {
    background-color: color($clr-red tint(20%));
    color: #363636;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 24px;
    border-radius: 24px;
    padding: 24px;
}