form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.employeeCard {
  &__field-wrap {
    display: inline-block;
    max-width: 260px;
  }
}